---
layout: landing
title: News
landing-title: All posts
nav-menu: false
description: Keep abreast of our latest news
image: '/assets/images/calendar.jpg'
author:
order: 10
show_tile: false
category: ''

---
<section id="two" class="spotlights">
  <div class="inner">
    {% include pagination-links.html %}
  </div>
  {% for post in paginator.posts  %}
  {% if post.title != 404 %}
    <section>
      <a href="{{ post.url }}" class="image">
        <img src="{{ post.image }}" alt="" data-position="center center" />
      </a>
      <div class="content">
        <div class="inner">
          <a href="{{ post.url }}">
              <header class="major">
                <h3>{% if post.date %}{{ post.date | split: ' ' | first | replace: '-', '/'}}: {% endif %}{{ post.title }}</h3>
              </header>

              {{ post.excerpt | strip_html }}
          </a>

        </div>
      </div>
    </section>
  {% endif %}
  {% endfor %}
</section>
<div class="inner">
   {% include pagination-links.html %}
</div>
