<div class="responsiveCal">
<iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%2333B679&amp;ctz=Europe%2FLondon&amp;src=ZWNvZm9ydW0ub3JnLnVrX20yYnY1YzJ2cmU0dDMxZGtuNGdlYmQ0aWxzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%233366CC&amp;showTitle=0&amp;showNav=0&amp;mode=AGENDA&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;hl=en_GB" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<p> If you are planning an eco event in Cumbria, please submit the details and we will list on this calendar.
  Please supply complete with link to your website/event page if possible.
  Submissions can be made to <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p> 
