<section id="team" class="spotlights">
  <h2> Team: </h2>
  {% for row in site.data.team %}
    <section>
      <img src="{{ row.image }}" alt="{{ row.name }}" data-position="center center" class="image prop-scale" title="{{ row.name }}"/>
      <div class="content">
        <div class="inner">
          <header class="major">
            <h3>{{ row.name }}</h3>
          </header>
          {{ row.description | markdownify }}
          <p></p>
        </div>
      </div>
    </section>
  {% endfor %}
</section>
